.scoreboard {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
  
    .player {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .player-name {
        font-size: 1.2rem;
        font-weight: 900;
        text-transform: capitalize;
        text-align: center;
      }
  
      &.winner {
        .player-name {
          color: var(--ion-color-success);
        }

        .winner-sign {
          font-size: 0.8em;
        }
      }
    }
  
    .vs-sign {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      font-style: italic;
    }
  }