<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Retour"></ion-back-button>
    </ion-buttons>
    @if(gameState() === 'onGoing') {
      <ion-title>Partie en cours</ion-title>
    }
    @else if(gameState() === 'over') {
      <ion-title>Partie terminée</ion-title>
    }
    @else {
      <ion-title>Nouvelle partie</ion-title>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-game-board (gameState)="setGameState($event)">
  </app-game-board>
</ion-content>