<ion-header>
  <ion-toolbar>
    <ion-title>
      Résultats
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToActiveGame()" fill="solid" class="new-game-button">
        &nbsp; Nouvelle Partie &nbsp; 
        <ion-icon name="add-circle" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
    @if (gameService.state() === 'loading') {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (game of gameService.gamesWithPlayerNames(); track game.id) {
      <app-scoreboard [game]="game" />
    }
  </ion-list>
</ion-content>
